table {
  width: 100%;
}




/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
.container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 20px;
    margin-left: 100px;
    flex-direction: column;
  .label {
    display: inherit;
    padding: 10px;
  }
  .content {
    display: inherit;
    width: 90%;
  }
}

.votes{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  button{
    height: 30px;
    max-width: 20px;
  }
  button:hover{
    transform: scale(1.04);
    background-color: black;
  }
  mat-icon{
    font-size: 20px;
    margin-left: 2px;
  }
  
}
.action{
  display: flex;
  justify-content: space-between;
}
tr:hover{
background-color:lavenderblush;
}